﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hotel California</title>
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.min.js")
    @Styles.Render("~/Content/site.css")
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hotel California", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hotel<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Sobre Nós", "About", "Home")</li>
                            <li>@Html.ActionLink("Alojamento", "Hotel", "Home")</li>
                            <li>@Html.ActionLink("Quartos", "Index", "Quartos")</li>
                        </ul>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cliente<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li>@Html.ActionLink("Criar Reserva", "CriarReserva", "Reservas")</li>
                                <li>@Html.ActionLink("Alterar Perfil", "Editar", "Clientes")</li>
                                <li>@Html.ActionLink("Consultar Reservas", "Index", "Reservas")</li>
                                <li>@Html.ActionLink("Alterar Password", "Index", "Manage")</li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Funcionarios"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administração<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Lista de Clientes", "Listagem", "Clientes")</li>
                                <li>@Html.ActionLink("Reservas dos Clientes", "Listagem", "Reservas")</li>
                                <li>@Html.ActionLink("Categoria dos Quartos", "Index", "Quartos")</li>
                            </ul>
                        </li>
                    }
                    <li>@Html.ActionLink("Contactos", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="background-color:#FFFFFF">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Hotel California - Estoril</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.js")
    @RenderSection("scripts", required: false)
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
        
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY',
                minDate: moment(),
                useCurrent: false
            });
            $('#datetimepicker2').datetimepicker({
                format: 'DD/MM/YYYY',
                minDate: moment(),
                useCurrent: false
            });
            $("#datetimepicker1").on("dp.change", function (e) {
                $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker2").on("dp.change", function (e) {
                $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
            });
        });
        $(window).load(function () {
            $('#myModal').modal('show');
        });
    </script>
</body>
</html>
