﻿@using TI_II__TF_HOTEL.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar Sessão";
}
@if (TempData["LogErro"] != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@TempData["is"]</h4>
                </div>
                <div class="modal-body">
                    <p>@TempData["LogErro"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>

        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            @Html.AntiForgeryToken()
            <section id="loginForm">
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-3">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-group", @placeholder = "E-Mail" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-3">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-group", @placeholder = "Password" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10" style="margin-top:10px">
                        <input type="submit" value="Iniciar Sessão" class="btn btn-success" />
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-2">
                    @Html.ActionLink("Registar Novo Utilizador", "Register")
                </div>
            </section>


        }
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="/Imags/RV-AL095_PLAYLI_F_20130719185324.jpg" alt="">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
