﻿@model TI_II__TF_HOTEL.Models.Reservas

@{
    ViewBag.Title = "Criar Reserva";
}
@if (TempData["ReservaErro"] != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reserva</h4>
                </div>
                <div class="modal-body">
                    <p>@TempData["ReservaErro"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
    </div>
    <div class="col-md-6" style="text-align:justify">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="container">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DataEntrada, htmlAttributes: new { @class = "control-label col-md-4"})
                        <div class='input-group date' id='datetimepicker1'>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            @Html.TextBoxFor(m => m.DataEntrada, new { @class = "form-control input-group-addon col-md-8", @id = "datetimepicker1"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DataSaida, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class='input-group date' id='datetimepicker2'>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            @Html.TextBoxFor(m => m.DataSaida, new { @class = "form-control input-group-addon col-md-8", @id = "datetimepicker2"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.QuartoFK, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-map-marker"></i>
                            </span>
                            @Html.DropDownList("QuartoFK", null, htmlAttributes: new { @class = "form-control col-md-8" })
                        </div>
                        @Html.ValidationMessageFor(m => m.QuartoFK, "", new { @class = "text-danger" })
                    </div>
                    <p>@TempData["pt"]</p>
                </div>
            </div>

                <div class="form-group">
                    <div class="col-md-offset-4">
                        <input type="submit" value="Reservar" class="btn btn-success"  />
                    </div>
                </div>
        }
        <div class="col-md-offset-2">
            @Html.ActionLink("Voltar à lista de Quartos", "Index")
        </div>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="~/Imags/bell-hotel-1.png" alt="">
    </div>
</div>

