﻿@model TI_II__TF_HOTEL.Models.Reservas

@{
    ViewBag.Title = "Eliminar";
}
@if (TempData["ReservaErro"] != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reserva</h4>
                </div>
                <div class="modal-body">
                    <p>@TempData["ReservaErro"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
    </div>
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataEntrada)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataSaida)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataSaida)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataReg)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataReg)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClienteFK)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClienteFK)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QuartoFK)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuartoFK)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrecoTotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrecoTotal) €
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Voltar à sua Lista de Reservas", "Index")
            </div>
        }
    </div>
</div>
