﻿@model TI_II__TF_HOTEL.Models.Reservas

@{
    ViewBag.Title = "Detalhes da Reserva";
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
        @if (TempData["ReservaSuccess"] != null)
        {
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header modal-header-success">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Reserva</h4>
                        </div>
                        <div class="modal-body">
                            <p>@TempData["ReservaSuccess"]</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>

    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataEntrada)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataSaida)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataSaida)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataReg)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataReg)
            </dd>

            <dt>
                Cliente
            </dt>

            <dd>
                @ViewBag.nome @ViewBag.apelido
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quartos.TipoQuarto)
            </dt>

            <dd>
                @ViewBag.tipo
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrecoTotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrecoTotal) €
            </dd>
        </dl>
        <div class="col-md-offset-2">
            @Html.ActionLink("Alterar Reserva", "Edit", new { id = Model.ReservaID }) |
            @Html.ActionLink("Ver Reservas", "Index")
        </div>

    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="/Imags/bell-hotel-1.png" alt="">
    </div>
</div>