﻿@model TI_II__TF_HOTEL.Models.Reservas

@{
    ViewBag.Title = "Alterar Reserva";
}
@if (TempData["ReservaErro"] != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reserva</h4>
                </div>
                <div class="modal-body">
                    <p>@TempData["ReservaErro"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
    </div>
    <div class="col-md-6" style="text-align:justify">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.DataReg)
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ReservaID)
                @Html.HiddenFor(model => model.DataReg)
                @Html.HiddenFor(model => model.ClienteFK)
                <div class="container">

                        <div class="form-group">
                            @Html.LabelFor(model => model.DataEntrada, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class='input-group date' id='datetimepicker1'>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                @Html.EditorFor(model => model.DataEntrada, new { htmlAttributes = new { @class = "form-control input-group-addon col-md-8", @id = "datetimepicker1" } })
                            </div>
                        </div>
                   
                        <div class="form-group">
                            @Html.LabelFor(model => model.DataSaida, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class='input-group date' id='datetimepicker2'>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                @Html.EditorFor(model => model.DataSaida, new { htmlAttributes = new { @class = "form-control input-group-addon col-md-8", @id = "datetimepicker2" } })
                            </div>
                        </div>     
                        <div class="form-group">
                            @Html.LabelFor(model => model.QuartoFK, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-map-marker"></i>
                                </span>
                                @Html.DropDownList("QuartoFK", null, htmlAttributes: new { @class = "form-control col-md-8" })
                            </div>
                        </div>
                    </div>
                </div>
            <div class="form-group">
                <div class="col-md-offset-4">
                    <input type="submit" value="Alterar Reserva" class="btn btn-success" />
                </div>
            </div>
        }
        <div class="col-md-offset-2">
            @Html.ActionLink("Ver Reservas", "Index")
        </div>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="~/Imags/bell-hotel-1.png" alt="">
    </div>
</div>



