﻿@model IEnumerable<TI_II__TF_HOTEL.Models.Listagem>

@{
    ViewBag.Title = "Ver Reservas";
}
@if (TempData["ReservaSuccess"] != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reserva</h4>
                </div>
                <div class="modal-body">
                    <p>@TempData["ReservaSuccess"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
    </div>
    <div class="col-md-12">
        <table class="table">
            <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.Quarto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataEnt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataSai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataReg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecoTotal)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Quarto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataEnt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataSai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataReg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecoTotal)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ReservaID }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.ReservaID }) 
                        @if (User.IsInRole("Funcionarios"))
                        {
                           @Html.ActionLink("Eliminar", "Delete", new { id = item.ReservaID })
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>