﻿@model TI_II__TF_HOTEL.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Alterar Password";
}
@if (TempData["ChangeErro"] != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@TempData["AP"]</h4>
                </div>
                <div class="modal-body">
                    <p>@TempData["ChangeErro"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">

    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

            <section id="loginForm">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-group", @placeholder = "Password Antiga" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input - group", @placeholder = "Nova Password" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-group", @placeholder = "Confirmar Nova Password" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="margin-top:10px">
                            <input type="submit" value="Alterar Password" class="btn btn-success" />
                        </div>
                    </div>
                </div>

            </section>

        }
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="/Imags/pansodan06.jpg" alt="">
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
