﻿@model TI_II__TF_HOTEL.Models.IndexViewModel
@{
    ViewBag.Title = "Alteração de Password";
}
@if (TempData["ChangeSuccess"] != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@TempData["AP"]</h4>
                </div>
                <div class="modal-body">
                    <p>@TempData["ChangeSuccess"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                </div>
            </div>

        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
        <p class="text-success">@ViewBag.StatusMessage</p>
    </div>

    <div class="col-md-6" style="text-align:justify">
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Alterar Password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="~/Imags/pansodan06.jpg" alt="">
    </div>
</div>