﻿@{
    ViewBag.Title = "Sobre Nós";
    ViewBag.Title2 = "Staff";
    ViewBag.Title3 = "Agradecimentos";
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
    </div>

    <div class="col-md-6" style="text-align:justify">
        <p>Situação privilegiada em plena cidade do Estoril, junto à zona turística rodeada por majestosas praias e debruçado sobre o Oceano fica o Hotel California.</p>
        <p>Estrategicamente situado no litoral, de fácil acesso pela A5, fica a 30 km de Lisboa e a 340 km do Porto.</p>
        <p>Pode desfrutar da vida com ela deve ser vivida. Com quartos e suites requintadamente decorados, e 14 salas para reuniões ou negócios. Poderá igualmente saborear uma selecção de pratos gastronómicos acompanhados de uma selecção de vinhos locais através de um serviço de excelência prestado de forma atenta e discreta.</p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="~/Imags/RV-AL095_PLAYLI_F_20130719185324.jpg" alt="">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title2 <small>Colaboradores</small></h2>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="~/Imags/lei.jpg" alt="">
            <div class="caption">
                <h3>
                    Tecnologias de Internet II<br>
                    <small>Unidade Curricular</small>
                </h3>
                <p>Escola Superior de Tecnologia de Tomar</p>
                <p>Utilizador(Cliente): ti2@ipt.pt</p>
                <p>Password Todas: Teste123!</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="~/Imags/eu.jpg" alt="">
            <div class="caption">
                <h3>
                    Rui Barcelos<br />
                    <small>18834</small>
                </h3>
                <p>Discente</p>
                <p>Utilizador(ADMIN): barcelos.rui@gmail.com</p>
                <p>Password Todas: Teste123!</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="thumbnail">
            <img class="img-responsive" src="~/Imags/lei.jpg" alt="">
            <div class="caption">
                <h3>
                    José Casimiro Pereira<br />
                    <small>TI II - LEI</small>
                </h3>
                <p>Docente</p>
                <p>Utilizador(Cliente): a@a.pt</p>
                <p>Password Todas: Teste123!</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title3</h2>
    </div>
    <div class="col-md-10 thumbnail col-md-offset-1">
        Vanessa Ferreira - Fotografias
    </div>
</div>
