﻿@{
    ViewBag.Title = "Contactos";
}
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
        </div>
        <div class="col-md-4">
            <h3>Morada</h3>
            <address>
                Hotel California<br />
                Av. Marques Leal 23<br />
                2765-495 Estoril<br />
            </address>
            <address>
                <i class="glyphicon glyphicon-phone-alt"></i>
                <abbr title="Telefone">Tel:</abbr> +351 299 843 879
                <br />
                <i class="glyphicon glyphicon-envelope"></i>
                <abbr title="e-mail:">E</abbr>: <a href="mailto:barcelos.rui@gmail.com">recep@hcalifornia.pt</a>
                <br />
                <i class="glyphicon glyphicon-calendar"></i>
                <abbr title="Horário">H</abbr>:24H/24H
                <br />
                <strong>Facebook:</strong> <a href="https://www.fb.com/ruibarcelos">Hotel California</a>
            </address>
            <address>
                <abbr title="Policia de Segurança Publica">PSP:</abbr>
                +351 214646700
                <br />
                <abbr title="Bombeiros Voluntários de Estoril">Bombeiros:</abbr>
                +351 214 677 012
                <br />
            </address>
        </div>
        <div class="col-md-8">
            <!-- Embedded Google Map -->
            <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=Avenida+Marques+Leal,+São+João+do+Estoril,+Portugal+&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
        </div>
        <!-- Contact Details Column -->
    </div>

