﻿@model IEnumerable<TI_II__TF_HOTEL.Models.Quartos>
@{
    ViewBag.Title = "Hotel California";
}

<!-- Header Carousel -->
<header id="entrada" class="carousel slide">
    @if (TempData["LogSuccess"] != null)
    {
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header modal-header-success">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@TempData["is"]</h4>
                    </div>
                    <div class="modal-body">
                        <p>@TempData["LogSuccess"]</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#entrada" data-slide-to="0" class="active"></li>
        <li data-target="#entrada" data-slide-to="1"></li>
        <li data-target="#entrada" data-slide-to="2"></li>
        <li data-target="#entrada" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Imags/radisson-pool.jpg" alt="Chania" />
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="~/Imags/LSB.PALM4.HO.21-125697_0_0.jpg" alt="Chania" />
            <div class="carousel-caption">
            </div>
        </div>

        <div class="item">
            <img src="~/Imags/suite-vincci-porto-centro-hotel.jpg" alt="Chania" />
            <div class="carousel-caption">
            </div>
        </div>

        <div class="item">
            <img src="~/Imags/IMG_3217.jpg" alt="Chania" />
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#entrada" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#entrada" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <div class="col-lg-9" style="position: absolute; top: 10px; left: 125px;">
        <div class="row">
            <div class="col-md-4" style="background-color:#4444FF; color:#FFFFFF">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-md-3" style="background-color:#ffd800; color:#FFFFFF">
                <h1> Estoril</h1>
            </div>
        </div>
        <div class="col-md-7 row" style="background-color: rgba(0, 0, 0, 0.7); color:#FFFFFF;">
            <h2>
                Quartos Desde:
                @foreach (var item in Model) {
                    @Html.DisplayFor(modelItem => item.Preco)
                } €/noite
            </h2>
            <h5>
                @Html.ActionLink("Reservar já", "CriarReserva", "Reservas", "", new { @class = "btn btn-primary" })
            </h5>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-lg-12">
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="glyphicon glyphicon-tree-deciduous"></i> Estoril </h4>
            </div>
            <div class="panel-body">
                <div id="cidade" class="carousel slide" data-ride="carousel" style="width:330px; height:185px">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#cidade" data-slide-to="0" class="active"></li>
                        <li data-target="#cidade" data-slide-to="1"></li>
                        <li data-target="#cidade" data-slide-to="2"></li>
                        <li data-target="#cidade" data-slide-to="3"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/Imags/47_localizacao_big4.jpg" alt="Chania" />
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Imags/DEA5B951-4F63-4424-BCB8-AD9834644E7A.jpg" alt="Chania" />
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Imags/autodromo-do-estoril.jpg" alt="Chania" />
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Imags/card_tenis_portugal_open_280115.jpg" alt="Chania" />
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#cidade" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#cidade" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="glyphicon glyphicon-heart"></i> Praias</h4>
            </div>
            <div class="panel-body">
                <div id="praias" class="carousel slide" data-ride="carousel" style="width:330px; height:185px">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#praias" data-slide-to="0" class="active"></li>
                        <li data-target="#praias" data-slide-to="1"></li>
                        <li data-target="#praias" data-slide-to="2"></li>
                        <li data-target="#praias" data-slide-to="3"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/Imags/LIS_Cascais-Tamariz_660x371_2.jpg" />
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Imags/20160514_170503.jpg" alt="Chania" />
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Imags/20160514_170613.jpg" alt="Chania" />
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Imags/20160514_170649.jpg" alt="Chania" />
                            <div class="carousel-caption">
                            </div>
                        </div>

                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#praias" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#praias" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="glyphicon glyphicon-glass"></i> Casino</h4>
            </div>
            <div class="panel-body">
                <div id="tur" class="carousel slide" data-ride="carousel" style="width:330px; height:185px">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#tur" data-slide-to="0" class="active"></li>
                        <li data-target="#tur" data-slide-to="1"></li>
                        <li data-target="#tur" data-slide-to="2"></li>
                        <li data-target="#tur" data-slide-to="3"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/Imags/CasinoEstoril_01.jpg" alt="Chania" />
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Imags/20160514_172802.jpg" alt="Chania" />
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Imags/20160514_173226.jpg" alt="Chania" />
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Imags/20160514_173305.jpg" alt="Chania" />
                            <div class="carousel-caption">
                            </div>
                        </div>

                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#tur" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#tur" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
</div>
