﻿@model TI_II__TF_HOTEL.Models.Quartos

@{
    ViewBag.Title = "Detalhes do Quarto";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
    </div>
    <div class="col-md-6">
        <h3>@Html.DisplayFor(model => model.TipoQuarto)</h3>
        <div class="col-md-12" style="text-align:justify">
            <p>@Html.DisplayFor(model => model.Descricao)</p>
        </div>
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Quantidade)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Preco)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Preco) €/noite
                </dd>
            </dl>
            <div class="col-md-12 col-md-offset-2">
                @if (User.IsInRole("Funcionarios"))
                {
                    @Html.ActionLink("Alterar Quarto", "Edit", new { id = Model.QuartoID })
                }
                @Html.ActionLink("Ver Categorias", "Index")
            </div>
            <h5>
                @Html.ActionLink("Reservar já", "CriarReserva", "Reservas", "", new { @class = "btn btn-primary" })
            </h5>
        </div>
    </div>
    <div class="col-md-6">
        <img style="width:550px" src="~/Images/@ViewBag.img"/>
    </div>

</div>