﻿@model IEnumerable<TI_II__TF_HOTEL.Models.Quartos>

@{
    ViewBag.Title = "Categoria dos Quartos";
}
@if (TempData["AQSuccess"] != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@TempData["AQ"]</h4>
                </div>
                <div class="modal-body">
                    <p>@TempData["AQSuccess"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
    </div>
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipoQuarto)
                </th>
                @if (User.IsInRole("Funcionarios"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Quantidade)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoQuarto)
                    </td>
                    @if (User.IsInRole("Funcionarios"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantidade)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @if (User.IsInRole("Funcionarios"))
                        {
                            @Html.ActionLink("Alterar", "Edit", new { id = item.QuartoID }) 
                        }
                        @Html.ActionLink("Detalhes", "Details", new { id = item.QuartoID })
                    </td>
                </tr>
            }
        </table>
@if (User.IsInRole("Funcionarios"))
{
        <div class="col-md-offset-2">
            @Html.ActionLink("Acrescentar Categoria", "Create")
        </div>
}
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="~/Imags/122303_F_20101223043940.jpg" alt="">
    </div>
</div>
