﻿@model TI_II__TF_HOTEL.Models.Clientes

@{
    ViewBag.Title = "Dados do Cliente";
}
<div class="col-md-6">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.NomeProprio, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                @Html.TextBoxFor(m => m.NomeProprio, new { @class = "form-control input-group"})
            </div>
            @Html.ValidationMessageFor(m => m.NomeProprio, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Apelido, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                @Html.TextBoxFor(m => m.Apelido, new { @class = "form-control input-group" })
            </div>
            @Html.ValidationMessageFor(m => m.Apelido, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BI, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-paperclip"></i>
                </span>
                @Html.TextBoxFor(m => m.BI, new { @class = "form-control input-group" })
            </div>
            @Html.ValidationMessageFor(m => m.BI, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NIF, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-paperclip"></i>
                </span>
                @Html.TextBoxFor(m => m.NIF, new { @class = "form-control input-group" })
            </div>
            @Html.ValidationMessageFor(m => m.NIF, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Contacto, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-phone-alt"></i>
                </span>
                @Html.TextBoxFor(m => m.Contacto, new { @class = "form-control input-group" })
            </div>
            @Html.ValidationMessageFor(m => m.Contacto, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        @Html.LabelFor(model => model.Rua, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-home"></i>
                </span>
                @Html.TextBoxFor(m => m.Rua, new { @class = "form-control input-group" })
            </div>
            @Html.ValidationMessageFor(m => m.Rua, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nPorta, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-home"></i>
                </span>
                @Html.TextBoxFor(m => m.nPorta, new { @class = "form-control input-group" })
            </div>
            @Html.ValidationMessageFor(m => m.nPorta, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Andar, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-home"></i>
                </span>
                @Html.TextBoxFor(m => m.Andar, new { @class = "form-control input-group" })
            </div>
            @Html.ValidationMessageFor(m => m.Andar, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lado, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-home"></i>
                </span>
                @Html.TextBoxFor(m => m.Lado, new { @class = "form-control input-group" })
            </div>
            @Html.ValidationMessageFor(m => m.Lado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cPostal, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-home"></i>
                </span>
                @Html.TextBoxFor(m => m.cPostal, new { @class = "form-control input-group" })
            </div>
            @Html.ValidationMessageFor(m => m.cPostal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Localidade, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-home"></i>
                </span>
                @Html.TextBoxFor(m => m.Localidade, new { @class = "form-control input-group" })
            </div>
            @Html.ValidationMessageFor(m => m.Localidade, "", new { @class = "text-danger" })
        </div>
    </div>

</div>

