﻿@model TI_II__TF_HOTEL.Models.Clientes

@{
    ViewBag.Title = "Alterar Perfil";
}
@if (@TempData["clienteErro"] != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@TempData["cl"]</h4>
                </div>
                <div class="modal-body">
                    <p>@TempData["clienteErro"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
    </div>
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ClienteID)
                @Html.HiddenFor(model => model.UserID)
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NomeProprio, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                @Html.TextBoxFor(m => m.NomeProprio, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.NomeProprio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Apelido, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Apelido, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Apelido, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.BI, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-paperclip"></i>
                                </span>
                                @Html.TextBoxFor(m => m.BI, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.BI, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NIF, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-paperclip"></i>
                                </span>
                                @Html.TextBoxFor(m => m.NIF, new { @class = "form-control input-group"})
                            </div>
                            @Html.ValidationMessageFor(m => m.NIF, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Contacto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-phone-alt"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Contacto, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Contacto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Rua, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Rua, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Rua, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.nPorta, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                                @Html.TextBoxFor(m => m.nPorta, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.nPorta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Andar, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Andar, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Andar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Lado, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Lado, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Lado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.cPostal, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                                @Html.TextBoxFor(m => m.cPostal, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.cPostal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Localidade, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Localidade, new { @class = "form-control input-group" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Localidade, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Alterar Perfil" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
        </div>
    </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
