﻿@model IEnumerable<TI_II__TF_HOTEL.Models.ListagemClientes>

@{
    ViewBag.Title = "Listagem";
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
    </div>
    <div class="col-md-12">
        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rua)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPostal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NIF)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contacto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMAIL)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Nome) @Html.DisplayFor(modelItem => item.Apelido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rua) @Html.DisplayFor(modelItem => item.NPorta) @Html.DisplayFor(modelItem => item.Andar) @Html.DisplayFor(modelItem => item.Lado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPostal) @Html.DisplayFor(modelItem => item.Localidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NIF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contacto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMAIL)
                    </td>
                    <td>
                        @Html.ActionLink("Alterar", "Edit", new { id = item.ClienteID }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.ClienteID })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
