﻿@model TI_II__TF_HOTEL.Models.Clientes

@{
    ViewBag.Title = "Perfil";
}
@if (TempData["RegSuccess"] != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@TempData["Reg"]</h4>
                </div>
                <div class="modal-body">
                    <p>@TempData["RegSuccess"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
@if (TempData["clienteSuccess"] != null)
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-header-success">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@TempData["cl"]</h4>
                </div>
                <div class="modal-body">
                    <p>@TempData["clienteSuccess"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">@ViewBag.Title <small>Hotel California <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></small></h2>
    </div>

    <div class="col-md-6" style="text-align:justify">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.NomeProprio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomeProprio) @Html.DisplayFor(model => model.Apelido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BI)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NIF)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NIF)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rua)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rua) @Html.DisplayFor(model => model.nPorta) @Html.DisplayFor(model => model.Andar) @Html.DisplayFor(model => model.Lado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cPostal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cPostal) @Html.DisplayFor(model => model.Localidade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contacto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contacto)
            </dd>
        </dl>
        <div class="col-md-6 col-md-offset-1">
            @Html.ActionLink("Alterar Perfil do Cliente", "Editar") |
            @Html.ActionLink("Ver Clientes", "Listagem")
        </div>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="~/Imags/pansodan06.jpg" alt="">
    </div>
    
</div>